* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.board {
  min-width: 500px;
  height: 500px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 13px;
}

.space {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  font-size: 7rem;
  border-radius: 4px;
}

.disabled {
  pointer-events: none;
}

.result {
  height: 30px;
  display: flex;
  align-items: center;
}

button {
  padding: 2px 4px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(180, 179, 179);
}